In [4]:
unique_list_from_env_files = ['WS', 'WD', 'AT', 'R', 'H', 'TE', 'ADU', 'ADK', 'TSPU1', 'TSPU2', 'TSPU3', 'TSAU1', 'TSAU2', 'TSAU3', 'TSPK1', 'TSPK2', 'TSPK3', 'TSAK1', 'TSAK2', 'TSAK3', 'TBC1', 'TBC2', 'TSWS1', 'TSWN1', 'TWS1', 'TWC1', 'TWN1', 'TP1', 'TDT1', 'TDS1', 'TS1', 'TSWS2', 'TSWN2', 'TWS2', 'TWC2', 'TWN2', 'TP2', 'TDT2', 'TDS2', 'TS2', 'TWS3', 'TWN3', 'TWC3', 'TP3', 'TDT3', 'TS3']

raw_list_from_env_files = 	 ['WS', 'WD', 'AT', 'R', 'H', 'TE', 'ADU', 'ADK', 'TSPU1', 'TSPU2', 'TSPU3', 'TSAU1', 'TSAU2', 'TSAU3', 'TSPK1', 'TSPK2', 'TSPK3', 'TSAK1', 'TSAK2', 'TSAK3', 'TBC1', 'TBC2', 'TSWS1', 'TSWN1', 'TWS1', 'TWC1', 'TWN1', 'TP1', 'TDT1', 'TDS1', 'TS1', 'TSWS2', 'TSWN2', 'TWS2', 'TWC2', 'TWN2', 'TP2', 'TDT2', 'TDS2', 'TS2', 'TWS3', 'TWN3', 'TWS3', 'TWC3', 'TWN3', 'TP3', 'TDT3', 'TS3']
list_from_readme = 			 ['WS', 'WD', 'AT', 'R', 'H', 'TE', 'ADU', 'ADK', 'TSPU2', 'TSPU2', 'TSPU3', 'TSAU1', 'TSAU2', 'TSAU3', 'TSPK1', 'TSPK2', 'TSPK3', 'TSAK1', 'TSAK2', 'TSAK3', 'TBC1', 'TBC2', 'TSWS1', 'TSWN1', 'TWS1', 'TWC1', 'TWN1', 'TP1', 'TDT1', 'TDS1', 'TS1', 'TSWS2', 'TSWN2', 'TWS2', 'TWC2', 'TWN2', 'TP2', 'TDT2', 'TDS2', 'TS2', 'TSWS3', 'TSWN3', 'TWS3','TWC3', 'TWN3', 'TP3', 'TDT3', 'TDS3', 'TS3']
lizzy_labels =				 ['AT', 'H', 'TE', 'ADK', 'TSPU1', 'TSPU2', 'TSAU1', 'TSAU2', 'TSAU3', 'TSPK1', 'TSPK2', 'TSAK1', 'TBC1', 'TBC2', 'TSWS1', 'TSWN1', 'TWS1', 'TWC1', 'TWN1', 'TP1', 'TDS1', 'TS1', 'TSWS2', 'TSWN2', 'TWC2', 'TWN2', 'TP2', 'TDT2', 'TDS2', 'TS2', 'TSWS3', 'TSWN3', 'TWS3', 'TWC3', 'TWN3', 'TDT3']

print(f"number of channels in raw list from .env files column headings: {len(raw_list_from_env_files)}")
print(f"number of channels in the list from Z24 readme:                 {len(list_from_readme)}")
print(f"number of channels that Lizzy chose to include:	                {len(lizzy_labels)}")

number of channels in raw list from .env files column headings: 48
number of channels in the list from Z24 readme:                 49
number of channels that Lizzy chose to include:	                36

In [15]:
import os

main_dir = "/Users/Julian/Documents/WorkDocuments/Z24-S101-mini-project/S101-and-Z24-demonstrator/Z24_bridge_KUL/accelerations"

sub_dirs = ["/Z24ems1", "/Z24ems2", "/Z24ems3"]

data_list = [[] for i in range(53)]

# find data directories in first sub directory
data_dirs = next(os.walk(f"{main_dir}{sub_dirs[0]}"))[1]
for k, dd in enumerate(data_dirs):
	# find data files within the first data directory in the first sub directory
	data_files = next(os.walk(f"{main_dir}{sub_dirs[0]}/{dd}"))[2]
	# find the environmental files in the data directory
	environmental_files = [file for file in data_files if file.endswith("env")]
	env_channel_values = {}
	reformatted_env_sample_timestamps = []
	for env_file in environmental_files:
		with open(f"{main_dir}{sub_dirs[0]}/{dd}/{env_file}", encoding="iso-8859-1") as file:
			for i, line in enumerate(file):
				if i == 0:
					channel_names = line.split()[::2]
					# print(f"number of channels: {len(channel_names)}")
					# print(f"channel names from file: {channel_names}")
				elif 11 > i >= 1:
					raw_data = line.split()
					# print(f"data line: {raw_data}")
					# print(f"entries in data line: {len(raw_data)}")
					for j, entry in enumerate(line.split()):
						data_list[j].append(float(entry))
						# print(j)

print(f"number of columns in data list: {len(data_list)}")
print(f"length of first entry in data list: {len(data_list[0])}")
n = -1
print(f"length of {n}th entry in data list: {len(data_list[n])}")

number of columns in data list: 53
length of first entry in data list: 36340
length of -1th entry in data list: 36340

In [16]:
import pandas as pd

env_channel_data = pd.DataFrame(data_list).transpose()
# env_channel_data.columns = [i for i in range(53)]
env_channel_data.columns = unique_list_from_env_files + [None for i in range(7)]
# print(env_channel_data.head())
env_channel_data.describe(percentiles=[])

,WS,WD,AT,R,H,TE,ADU,ADK,TSPU1,TSPU2,...,TP3,TDT3,TS3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
count,36340.000000,36340.000000,36340.000000,36340.000000,36340.000000,36340.000000,36340.000000,36340.000000,36340.000000,36340.000000,...,36340.000000,36340.000000,3.634000e+04,36340.000000,36340.000000,36340.000000,36340.000000,36340.000000,36340.000000,36340.000000
mean,-0.000109,-0.000076,0.424359,-1.885353,0.901483,-3.050465,-0.849742,-1.902407,3.978013,4.225418,...,2.148718,1.728564,3.276700e+03,2.561214,-244.269326,-244.255952,-244.218544,-244.200294,-244.239359,-244.227936
std,0.000176,0.000172,0.037046,0.019179,0.086822,10.117202,1.099049,0.012005,1.459879,1.422539,...,2.686186,2.568327,1.992276e-09,2.589154,0.046115,0.049645,0.038866,0.005418,0.048855,0.044869
min,-0.001248,-0.001873,0.330848,-1.911430,0.441651,-32.767000,-2.652405,-1.917360,0.800000,1.300000,...,-4.600000,-4.700000,3.276700e+03,-3.500000,-244.300000,-244.300000,-244.300000,-244.300000,-244.300000,-244.300000
50%,0.000000,0.000000,0.426045,-1.891454,0.930433,2.026603,-0.092700,-1.908309,3.900000,3.900000,...,2.300000,2.000000,3.276700e+03,2.800000,-244.300000,-244.300000,-244.200000,-244.200000,-244.200000,-244.200000
max,0.000936,0.001248,0.538097,-1.742572,0.983806,2.557208,0.320860,-1.860242,7.700000,7.800000,...,9.400000,7.900000,3.276700e+03,8.100000,-244.200000,-244.200000,-244.200000,-244.200000,-244.200000,-244.200000